In [1]:
%pip install -q pandas np numpy

Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as pn

In [6]:
data = pd.read_csv('logs.csv', encoding='utf-8')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [9]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [11]:
data['user_id'].value_counts()

user_id
5678294978    11
1743281508    10
9713454510    10
9798964800     9
7450740664     9
              ..
7850712396     1
7415908571     1
7875937474     1
3655904078     1
6064948744     1
Name: count, Length: 86571, dtype: int64

In [17]:
data['purchase'] = data['purchase'].astype(bool)

In [18]:
data['purchase'].value_counts()

purchase
False    187897
True      12103
Name: count, dtype: int64

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [21]:
data[data['source'].isna()]

           user_id source       email  purchase
22      1397217221    NaN  79ac569f0b     False
49      5062457902    NaN  9ddce3a861     False
171     6724868284    NaN  c0e48c7cf8     False
258     3221384063    NaN  7fe8da1823     False
379     7515782311    NaN  462462af10     False
...            ...    ...         ...       ...
199342  3439213943    NaN  7edda4e2a4     False
199661  9473123762    NaN  3535509f51     False
199689   722485056    NaN  470ffa3800     False
199709  5950023506    NaN  0fb749d485     False
199758  3747926428    NaN  604850216f     False

[1674 rows x 4 columns]

In [22]:
data['source'].value_counts()

source
other      133834
context     52032
email       12279
undef         181
Name: count, dtype: int64

In [26]:
data['source'] = data['source'].replace('None', None)
data['source'] = data['source'].replace('undef', None)

In [28]:
data['source'].value_counts()

source
other      133834
context     52032
email       12279
Name: count, dtype: int64

In [29]:
data.isna().sum

<bound method DataFrame.sum of         user_id  source  email  purchase
0         False   False   True     False
1         False   False  False     False
2         False   False   True     False
3         False   False   True     False
4         False   False   True     False
...         ...     ...    ...       ...
199995    False   False   True     False
199996    False   False   True     False
199997    False   False   True     False
199998    False   False   True     False
199999    False   False   True     False

[200000 rows x 4 columns]>

In [31]:
data_gb_ui = data.groupby('user_id')['purchase'].sum()

In [32]:
data_gb_ui.sort_values(ascending=False)

user_id
7370058986    4
3708073012    3
5189168982    3
922485345     3
463130195     3
             ..
3552682911    0
3552629301    0
3552349983    0
3552156723    0
9999792842    0
Name: purchase, Length: 86571, dtype: int64

In [33]:
total_installes = data.shape[0]
total_purchases = data['purchase'].sum()

In [34]:
total_conersion = total_purchases / total_installes

0.060515

In [37]:
unique_installes = data_gb_ui.shape
unique_purchases = data_gb_ui.query('purchases != 0')

AttributeError: 'Series' object has no attribute 'query'

In [36]:
avoid_n = 0
unique_install = data_gb_ui.shape[0]
unique_purchases = (
    pd. DataFrame (data_gb_ui)
    .query ('purchase != @avoid_n')
    .shape [0]
)
unique_conversion = unique_purchases / unique_installes

NameError: name 'unique_installes' is not defined